<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AuthenFilter</filter-name>
        <filter-class>com.swp.shoesshop.filters.AuthenFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>com.swp.shoesshop.controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>com.swp.shoesshop.controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.swp.shoesshop.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupController</servlet-name>
        <servlet-class>com.swp.shoesshop.controller.SignupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>com.swp.shoesshop.controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryController</servlet-name>
        <servlet-class>com.swp.shoesshop.controller.CategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryTypeController</servlet-name>
        <servlet-class>com.swp.shoesshop.controller.CategoryTypeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductsByCateIDController</servlet-name>
        <servlet-class>com.swp.shoesshop.controller.ProductsByCateIDController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailController</servlet-name>
        <servlet-class>com.swp.shoesshop.controller.DetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>com.swp.shoesshop.controller.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyNowController</servlet-name>
        <servlet-class>com.swp.shoesshop.controller.BuyNowController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCartController</servlet-name>
        <servlet-class>com.swp.shoesshop.controller.GetCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutController</servlet-name>
        <servlet-class>com.swp.shoesshop.controller.CheckoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOrderDetailController</servlet-name>
        <servlet-class>com.swp.shoesshop.controller.viewordercontroller.ViewOrderDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeOrderStatusForAdmin</servlet-name>
        <servlet-class>com.swp.shoesshop.controller.ChangeOrderStatusForAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeOrderStatusForAdminController</servlet-name>
        <servlet-class>com.swp.shoesshop.controller.ChangeOrderStatusForAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllOrderController</servlet-name>
        <servlet-class>com.swp.shoesshop.controller.viewordercontroller.ViewAllOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewFeedbackController</servlet-name>
        <servlet-class>com.swp.shoesshop.controller.feedbackcontroller.ViewFeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProductManagerController</servlet-name>
        <servlet-class>com.swp.shoesshop.controller.ViewProductManagerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProductController</servlet-name>
        <servlet-class>com.swp.shoesshop.controller.SearchProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductController</servlet-name>
        <servlet-class>com.swp.shoesshop.controller.DeleteProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>com.swp.shoesshop.controller.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductController</servlet-name>
        <servlet-class>com.swp.shoesshop.controller.UpdateProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDetailProductController</servlet-name>
        <servlet-class>com.swp.shoesshop.controller.ViewDetailProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortProductController</servlet-name>
        <servlet-class>com.swp.shoesshop.controller.SortProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFeedback</servlet-name>
        <servlet-class>com.swp.shoesshop.controller.feedbackcontroller.DeleteFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateFeedback</servlet-name>
        <servlet-class>com.swp.shoesshop.controller.feedbackcontroller.CreateFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileController</servlet-name>
        <servlet-class>com.swp.shoesshop.controller.UpdateProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VNPayController</servlet-name>
        <servlet-class>com.swp.shoesshop.controller.VNPayController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderPaymentController</servlet-name>
        <servlet-class>com.swp.shoesshop.controller.OrderPaymentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewListBlogController</servlet-name>
        <servlet-class>com.swp.shoesshop.controller.blogcontroller.ViewListBlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetBlogManagerController</servlet-name>
        <servlet-class>com.swp.shoesshop.controller.blogcontroller.GetBlogManagerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewBlogManagerController</servlet-name>
        <servlet-class>com.swp.shoesshop.controller.blogcontroller.ViewBlogManagerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewBlogDetailsController</servlet-name>
        <servlet-class>com.swp.shoesshop.controller.blogcontroller.ViewBlogDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewEditBlogController</servlet-name>
        <servlet-class>com.swp.shoesshop.controller.blogcontroller.ViewEditBlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateBlogController</servlet-name>
        <servlet-class>com.swp.shoesshop.controller.blogcontroller.CreateBlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBlogController</servlet-name>
        <servlet-class>com.swp.shoesshop.controller.blogcontroller.EditBlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveBlogController</servlet-name>
        <servlet-class>com.swp.shoesshop.controller.blogcontroller.RemoveBlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartController</servlet-name>
        <servlet-class>com.swp.shoesshop.controller.UpdateCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateHotProduct</servlet-name>
        <servlet-class>com.swp.shoesshop.controller.UpdateHotProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchOrderController</servlet-name>
        <servlet-class>com.swp.shoesshop.controller.viewordercontroller.SearchOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoogleLoginController</servlet-name>
        <servlet-class>com.swp.shoesshop.controller.GoogleLoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotifyEmailController</servlet-name>
        <servlet-class>com.swp.shoesshop.email.NotifyEmailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortByPriceController</servlet-name>
        <servlet-class>com.swp.shoesshop.controller.SortByPriceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortOrderController</servlet-name>
        <servlet-class>com.swp.shoesshop.controller.viewordercontroller.SortOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRecommendedCategoryController</servlet-name>
        <servlet-class>com.swp.shoesshop.controller.AddRecommendedCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveFromCartController</servlet-name>
        <servlet-class>com.swp.shoesshop.controller.RemoveFromCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardController</servlet-name>
        <servlet-class>com.swp.shoesshop.controller.DashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendNotiEmailController</servlet-name>
        <servlet-class>com.swp.shoesshop.controller.SendNotiEmailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOrderUserController</servlet-name>
        <servlet-class>com.swp.shoesshop.controller.CheckOrderUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOrderDetailUserController</servlet-name>
        <servlet-class>com.swp.shoesshop.controller.CheckOrderDetailUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendEmailForAdminController</servlet-name>
        <servlet-class>com.swp.shoesshop.controller.SendEmailForAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetFullProductsController</servlet-name>
        <servlet-class>com.swp.shoesshop.controller.GetFullProductsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPassController</servlet-name>
        <servlet-class>com.swp.shoesshop.controller.ForgotPassController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>com.swp.shoesshop.controller.ChangePasswordController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/HomeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupController</servlet-name>
        <url-pattern>/SignupController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryController</servlet-name>
        <url-pattern>/CategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryTypeController</servlet-name>
        <url-pattern>/CategoryTypeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductsByCateIDController</servlet-name>
        <url-pattern>/ProductsByCateIDController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailController</servlet-name>
        <url-pattern>/DetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/AddToCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyNowController</servlet-name>
        <url-pattern>/BuyNowController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCartController</servlet-name>
        <url-pattern>/GetCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutController</servlet-name>
        <url-pattern>/CheckoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOrderDetailController</servlet-name>
        <url-pattern>/ViewOrderDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeOrderStatusForAdminController</servlet-name>
        <url-pattern>/ChangeOrderStatusForAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllOrderController</servlet-name>
        <url-pattern>/ViewAllOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewFeedbackController</servlet-name>
        <url-pattern>/ViewFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProductManagerController</servlet-name>
        <url-pattern>/ViewProductManagerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProductController</servlet-name>
        <url-pattern>/SearchProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductController</servlet-name>
        <url-pattern>/DeleteProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductController</servlet-name>
        <url-pattern>/UpdateProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDetailProductController</servlet-name>
        <url-pattern>/ViewDetailProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortProductController</servlet-name>
        <url-pattern>/SortProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFeedback</servlet-name>
        <url-pattern>/DeleteFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateFeedback</servlet-name>
        <url-pattern>/CreateFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileController</servlet-name>
        <url-pattern>/UpdateProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VNPayController</servlet-name>
        <url-pattern>/VNPayController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewListBlogController</servlet-name>
        <url-pattern>/ViewListBlogController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetBlogManagerController</servlet-name>
        <url-pattern>/GetBlogManagerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewBlogManagerController</servlet-name>
        <url-pattern>/ViewBlogManagerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewBlogDetailsController</servlet-name>
        <url-pattern>/ViewBlogDetailsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewEditBlogController</servlet-name>
        <url-pattern>/ViewEditBlogController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateBlogController</servlet-name>
        <url-pattern>/CreateBlogController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBlogController</servlet-name>
        <url-pattern>/EditBlogController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveBlogController</servlet-name>
        <url-pattern>/RemoveBlogController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderPaymentController</servlet-name>
        <url-pattern>/OrderPaymentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartController</servlet-name>
        <url-pattern>/UpdateCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateHotProduct</servlet-name>
        <url-pattern>/UpdateHotProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchOrderController</servlet-name>
        <url-pattern>/SearchOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoogleLoginController</servlet-name>
        <url-pattern>/GoogleLoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotifyEmailController</servlet-name>
        <url-pattern>/NotifyEmailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortByPriceController</servlet-name>
        <url-pattern>/SortByPriceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortOrderController</servlet-name>
        <url-pattern>/SortOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRecommendedCategoryController</servlet-name>
        <url-pattern>/AddRecommendedCategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveFromCartController</servlet-name>
        <url-pattern>/RemoveFromCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardController</servlet-name>
        <url-pattern>/Dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendNotiEmailController</servlet-name>
        <url-pattern>/SendNotiEmailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOrderUserController</servlet-name>
        <url-pattern>/CheckOrderUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOrderDetailUserController</servlet-name>
        <url-pattern>/CheckOrderDetailUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendEmailForAdminController</servlet-name>
        <url-pattern>/SendEmailForAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetFullProductsController</servlet-name>
        <url-pattern>/GetFullProductsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPassController</servlet-name>
        <url-pattern>/ForgotPassController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/ChangePasswordController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <res-ref-name>DataSource</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <welcome-file-list>
        <welcome-file>HomeController</welcome-file>
    </welcome-file-list>
</web-app>
